html, body, #root {
  height: 100vh;
}

.App {
  text-align: center;
  background-color: #131E2A;
  height: 100vh;
  color: #FAC761;
  font-family: 'Bebas Neue', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 50px;
  margin: 20px 0;
  font-size: calc(10px + 2vmin);
}

.content {
  width: 50%;
  max-width: 50em;
  overflow: auto;
  max-height: 70%;
}

ul {
  list-style-type: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

ul:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

li {
  background-color: #172231;
  border-bottom: 1px solid #131E2A;
}

input[type="text"] {
  border: none;
  background-color: #172231;
  color: #FAC761;
}

.person {
  height: 50px;
}

button {
  background-color: transparent;
  border: 1px solid #FAC761;
  color: #FAC761;
  height:1.6em
}

input[type="checkbox"] {
  display: none;
}

.check {
  cursor: pointer;
  position: relative;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: transparent;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #FAC761;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}
.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}
.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}
.check:hover:before {
  opacity: 1;
}
.check:hover svg {
  stroke: #FAC761;
}
.cbx:checked + .check svg {
  stroke: #FAC761;
}
.cbx:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
.cbx:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}
